**/*.zip
themes/
**/.DS_Store
uploadme/
todo.md
deploy.sh
**/*.afphoto

/unsignedpixel/content/post/.Ulysses-Group.plist
/unsignedpixel/content/post/.Ulysses-favorites.plist
/unsignedpixel/public/**

