<header>
<!-- generate rss feed acessible via BaseUrl/index.xml-->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
			<a href="/"><b>{{ .Site.Title }}</b></a>
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
			{{ end }}
	</nav>
	      {{ if $.Site.Params.logo }}
        <a class="blog-logo" href="{{ $.Site.BaseURL  }}"><img src="/images/unsigned_06.svg" alt="image not found" /></a>
      {{end}}

	<h1>{{ $.Site.Params.tagline }}<h1>
	</p>
	{{ end }}
</header>
